.env
docker-compose.yml
_db

.cache
.editorconfig
.git
.gitignore
.idea
.vscode
.dockerignore

**/node_modules

# Meta
**/.DS_Store

# Logs
logs
*.log
**/**/npm-debug.log*
**/**/yarn-error.log

wordpress/customization/multimedia
wordpress/customization/uploads
wordpress/customization/cache

