.env
.
docker-compose.yml
_db

.cache
.editorconfig
.git
.gitignore
.idea
.vscode
.dockerignore
yarn-error.log

wordpress/customization/themes/fipn/node_modules
wordpress/customization/themes/fipn1/node_modules
