<!-- wp:template-part {"slug":"header","tagName":"header","className":"header-wrapper"} /-->

<!-- wp:group {"layout":{"inherit":true},"className":"page-root"} -->
<div class="wp-block-group page-root">
  <!-- wp:group {"layout":{"inherit":true},"className":"page-rubric"} -->
    <div class="wp-block-group page-rubric">
      <!-- wp:query-title {"type":"archive"} /-->
    </div>
  <!-- /wp:group -->

  <!-- wp:query {"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":""},"layout":{"inherit":true},"tagName":"main"} -->
  <!-- wp:group {"layout":{"inherit":true},"className":"post-list"} -->
  <div class="wp-block-group post-list">
    <!-- wp:post-template {"className":"post-list__grid"} -->
    <!-- wp:columns {"className":"post-item"} -->
    <div class="wp-block-columns post-item">
      <!-- wp:column {"className":"post-item__image-column"} -->
      <div class="wp-block-column post-item__image-column">
        <!-- wp:post-featured-image {"isLink":true,"className":"post-item__image"} /-->
      </div>
      <!-- /wp:column -->
      <!-- wp:column {"className":"post-item__content-column"} -->
      <div class="wp-block-column post-item__content-column">
        <!-- wp:post-title {"isLink":true,"level":4,"className":"post-item__title"} /-->
        <!-- wp:core/post-date {"className":"post-item__date"} /-->
        <!-- wp:post-excerpt {"showMoreOnNewLine":false,"className":"post-item__excerpt"} /-->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
    <!-- /wp:post-template -->

    <!-- wp:query-pagination {"paginationArrow":"none","layout":{"type":"flex","justifyContent":"center"},"className":"post-list__pagination"} -->
      <!-- wp:query-pagination-previous {"className":"post-list__pagination-previous","label":" "} /-->
      <!-- wp:query-pagination-numbers {"className":"post-list__pagination-numbers"} /-->
      <!-- wp:query-pagination-next {"className":"post-list__pagination-next","label":" "} /-->
    <!-- /wp:query-pagination -->
  </div>
  <!-- /wp:group -->
  <!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer-wrapper"} /-->
