<!-- wp:template-part {"slug":"header","tagName":"header","className":"header-wrapper"} /-->
<!-- wp:group {"align":"wide","layout":{"inherit":true},"className":"post"} -->
<div class="wp-block-group alignwide post">
  <!-- wp:post-featured-image /-->
  <!-- wp:post-title {"level":1,"className":"post__title"} /-->
  <!-- wp:post-author {"showAvatar":false,"className":"post__author"} /-->
  <!-- wp:group {"layout":{"type":"flex"},"className":"post"} -->
  <div class="wp-block-group post__date">
    Добавлен:
    <!-- wp:core/post-date {"className":"post_date-content"} /-->
  </div>
  <!-- /wp:group -->
  <!-- wp:post-content {"layout":{"inherit":true},"className":"post__content"} /-->
  <!-- wp:post-terms {"term":"category","className":"post__categories"} /-->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer-wrapper"} /-->
